<footer>

    <div class="relative ">
        <div class="container  px-4 py-10">
            <div class="grid gap-10 md:grid-cols-3 pb-10">

                <!-- Seccion Izquierda -->
                <div class="space-y-6">
                    <div class="flex">
                        <img class="h-7 w-7 mr-1" src="../../../assets/LogoDegrade.svg" alt="Logo Nova Solutions">
                        <h4 class="font-bold md:text-lg">Nova Solutions</h4>
                    </div>
                    <p class="leading-relaxed">Siguenos en nuestras redes sociales, tenemos mucho contenido de valor para tu organizacion o empresa, tambien tienes otros canales oficiales para que estemos en contacto cuando lo necesites.</p>
                    
                    <div class="flex gap-5 items-center">
                        <p class="font-semibold">Redes:</p>
                        
                        <i class="fa-solid fa-envelope cursor-pointer hover:text-color-naranja-pantone"></i>
                        <i class="fa-brands fa-youtube cursor-pointer hover:text-color-naranja-pantone"></i>
                        <i class="fa-brands fa-twitter cursor-pointer hover:text-color-naranja-pantone"></i>
                        <i class="fa-brands fa-facebook cursor-pointer hover:text-color-naranja-pantone"></i>
                        <i class="fa-brands fa-instagram cursor-pointer hover:text-color-naranja-pantone"></i>

                    </div>
                </div>

                <!-- Seccion Central -->
                <div class="flex justify-between md:justify-around">
                    <div class="space-y-6">
                        <h4 class="font-bold md:text-lg">Links rapidos</h4>
                        <ul class="space-y-3">
                            <li class="underline hover:no-underline hover:text-color-naranja-pantone"><a href=""></a>Home</li>
                            <li class="underline hover:no-underline hover:text-color-naranja-pantone"><a href=""></a>Equipo</li>
                            <li class="underline hover:no-underline hover:text-color-naranja-pantone"><a href=""></a>Servicios</li>
                            <li class="underline hover:no-underline hover:text-color-naranja-pantone"><a href=""></a>Contacto</li>
                        </ul>
                    </div>

                    <div class="space-y-6">
                        <h4 class="font-bold text-lg">Ayuda</h4>
                        <ul class="space-y-3">
                            <li class="underline hover:no-underline hover:text-color-naranja-pantone"><a href=""></a>Socios</li>
                            <li class="underline hover:no-underline hover:text-color-naranja-pantone"><a href=""></a>Reviews</li>
                            <li class="underline hover:no-underline hover:text-color-naranja-pantone"><a href=""></a>Sobre nosotros</li>
                            <li class="underline hover:no-underline hover:text-color-naranja-pantone"><a href=""></a>Terminos y Condiciones</li>
                        </ul>
                    </div>
                </div>

                <!-- Seccion Derecha -->
                <div class="space-y-6">
                    <h4 class="font-bold md:text-lg">Noticias</h4>
                    <p class="leading-relaxed">Subscribete y recibe en tu correo novedades y oportunidades relevantes para tu negocio.</p>
                    <div class="flex items-center">
                        <input type="email" class="bg-color-negro text-color-blue-carolina p-2 lg:p-3 rounded-l-md focus:outline-none" placeholder="tuemail@correo.com"> 
                        <button type="submit" class="bg-color-naranja-pantone px-4 py-2  lg:px-5 lg:py-3 rounded-r-md hover:opacity-90">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seccion Desarrollador y marca  -->
        <div class="md:p-1 border-t border-color-naranja-pantone bg-color-negro">
            <div class="flex justify-center">
                <a href="https://github.com/horwellmv">
                    <span class="text-color-naranja-pantone text-sm md:text-2xl font-bold hover:opacity-80">[ Muval&reg;] </span>
                </a>
            </div>
            <p class="flex justify-center text-color-blue-carolina text-xs md:text-sm">Buenos Aires ARG. 2024 | Diseño & Desarrollo Web</p>
            <p class="flex justify-center text-xs text-color-naranja-pantone">Derechos reservados</p>
        </div>

    </div>

</footer>