<section class="relative">
    <div class="container md:mt-20 md:mb-28">
        <div class="flex">

            <div class="mt-20 md:mt-20 ml-8 md:ml-0 mr-3">
                <img class="h-28 md:h-64" src="../../../assets/LogoDegrade.svg" alt="Logo empresarial de NovaSolutions">
            </div>

            <div class="mb-12 text-left font-semibold md:pr-10 ">
                <h1 class="text-2xl md:text-6xl font-bold mt-24 md:mt-28">Un aliado empresarial</h1>
                <br class="hidden md:block">
                <p class="md:text-xl leading-relaxed ">NovaSolutions ofrece apoyo legal, contable, logistico y tecnologico para empresas.</p>
                <p class=" hidden md:block md:text-xl leading-relaxed mb-5 md:mb-14">Tenemos las herramientas y el equipo para llevar tu emprendimiento al siguiente nivel.</p>
                <a target="_blank" href="https://wa.me/573213366768"><button href class="boton mt-10 lg:hidden">Consulta ya</button></a>
            </div>

            <div class="hidden md:block mt-16">
                <img class="w-[700px] " src="../../../assets/home-crecimiento.svg" alt="imagen">
            </div>

        </div>
    </div>
</section>