<section class="relative">
    <div class="container md:pt-12 lg:pt-20">
        <div class="flex flex-col items-center z-20 md:flex-row">

            <div class="mx-10 md:mt-28">
                <img class="hidden md:inline h-44" src="../../../assets/LogoDegrade.svg"
                    alt="Logo empresarial de NovaSolutions">
            </div>

            <div class="text-center mb-12 md:text-left md:w-1/2 md:pr-10 ">
                <h1 class="titulo mt-36">Un aliado empresarial</h1>
                <p class="leading-relaxed mb-10">Apoyo legal, contable, logistico y tecnologico para empresas.</p>

                <a target="_blank" href="https://wa.me/573213366768"><button href class="boton">Consulta
                        inicial</button></a>
            </div>

        </div>
    </div>
</section>