<section class="relative">
    <div class="gota_izq"></div>
    <div class="gota_der"></div>

    <div class="container pt-12 lg:pt-20">
        <div class="flex flex-col items-center z-20 md:flex-row">
            <div class="text-center mb-12 md:text-left md:w-1/2 md:pr-10 ">
                <h1 class="titulo">Un aliado empresarial</h1>
                <p class="leading-relaxed mb-10">Apoyo legal, contable, logistico y tecnologico para empresas.</p>
                
                <a target="_blank" href="https://wa.me/573213366768"><button href class="boton">Consulta inicial</button></a>
            </div>
            <div class="ml-32">
                <img class="h-full min-w-80" src="../../../assets/LogoDegrade.svg" alt="Logo empresarial de NovaSolutions">
            </div>
        </div>
    </div>
</section>