<section class="relative bg-color-negro">
    <div class="container py-10 mt-8">
        <div class="text-center mb-10 md:mb-14">
            <h2 class="titulo text-color-fondo">Nuestro equipo</h2>
        </div>

        <!-- IMAGENES DE CADA MIEMBRO -->
        <div class="flex justify-center items-center flex-wrap">
            <img id="0" src="../../../assets/team-1.jpg" (click)="mostrarDescripcion($event)" class="team-pic active-pic h-20 w-20 md:h-36 md:w-36 m-1 md:m-6" alt="Avatar">
            <img id="1" src="../../../assets/team-2.jpg" (click)="mostrarDescripcion($event)" class="team-pic inactive-pic h-20 w-20 md:h-36 md:w-36 m-1 md:m-6" alt="Avatar">
            <img id="2" src="../../../assets/team-3.jpg" (click)="mostrarDescripcion($event)" class="team-pic inactive-pic h-20 w-20 md:h-36 md:w-36 m-1 md:m-6" alt="Avatar">
            <img id="3" src="../../../assets/team-4.jpg" (click)="mostrarDescripcion($event)" class="team-pic inactive-pic h-20 w-20 md:h-36 md:w-36 m-1 md:m-6" alt="Avatar">
            <img id="4" src="../../../assets/team-5.jpg" (click)="mostrarDescripcion($event)" class="team-pic inactive-pic h-20 w-20 md:h-36 md:w-36 m-1 md:m-6" alt="Avatar">
            <img id="5" src="../../../assets/team-6.jpg" (click)="mostrarDescripcion($event)" class="team-pic inactive-pic h-20 w-20 md:h-36 md:w-36 m-1 md:m-6" alt="Avatar">

        </div>

        <!-- PARRAFOS DE CADA AVATAR DE MIEMBRO-->
        <div class="grid place-items-center text-center m-auto md:w-4/5 px-10 ">

            <div class="team-text active-text">
                <p class="text-color-fondo md:text-2xl mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eos ipsum quaerat, iure vitae voluptatibus debitis amet voluptas quidem excepturi harum fugit corporis expedita! Animi soluta saepe atque repudiandae mollitia.</p>
                <h4 class="font-bold text-color-naranja-pantone">Benita 1.</h4>
                <span class="text-color-blue-carolina">Abogado</span>
            </div>
            <div class="team-text inactive-text">
                <p class="text-color-fondo md:text-2xl mb-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint doloribus, earum minus, explicabo possimus cupiditate animi odit a distinctio accusamus quaerat quae veniam libero. Tempore suscipit est nostrum excepturi quae!</p>
                <h4 class="font-bold text-color-naranja-pantone">Juan Pablo Vergara 2.</h4>
                <span class="text-color-blue-carolina">Adm contable</span>
            </div>
            <div class="team-text inactive-text">
                <p class="text-color-fondo md:text-2xl mb-6">Experiencia desarrollando soluciones tecnologicas para pymes y personas que requieren presencia en la web, mejora de sistemas y flujos de trabajo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nihil minus qui nobis exercitatione.</p>
                <h4 class="font-bold text-color-naranja-pantone">Freiman Murillo 3.</h4>
                <span class="text-color-blue-carolina">Analista de Sistemas</span>
            </div>
            <div class="team-text inactive-text">
                <p class="text-color-fondo md:text-2xl mb-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quae ratione quibusdam, quasi laudantium quia eum repudiandae consectetur dolores illum adipisci eos rerum esse asperiores laborum amet, reprehenderit, facilis animi.</p>
                <h4 class="font-bold text-color-naranja-pantone">Tomas Milano 4.</h4>
                <span class="text-color-blue-carolina">Gestor de proyectos</span>
            </div>
            <div class="team-text inactive-text">
                <p class="text-color-fondo md:text-2xl mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi non veritatis nesciunt molestias laboriosam! Numquam, voluptates quos id illum molestias nobis repellendus minima, magni recusandae hic deserunt tempora! Iste, qui.</p>
                <h4 class="font-bold text-color-naranja-pantone">Martina Tina 5.</h4>
                <span class="text-color-blue-carolina">Contador</span>
            </div>
            <div class="team-text inactive-text">
                <p class="text-color-fondo md:text-2xl mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eius tempore nobis. Distinctio asperiores fugiat tempore iure voluptate, est, excepturi recusandae, hic quasi doloribus ipsa. Eligendi nobis velit officia commodi.</p>
                <h4 class="font-bold text-color-naranja-pantone">Nicolas Pierry 6.</h4>
                <span class="text-color-blue-carolina">Gerente de producto</span>
            </div>

        </div>
    </div>
</section>