<section class="relative">
    <div class="container py-20">
        <div class="text-center m-auto mb-14">
            <h2 class="titulo">Nuestros servicios</h2>
        </div>

        <!-- CARDS -->
        <div class="grid md:grid-cols-3 gap-6 lg:gap-8 px-10 lg:px-0">
            <!-- Card 1 -->
            <div class="bg-color-primario-light border-2 border-solid border-color-gris text-center py-10 px-5 md:py-20 rounded-2xl lg:cursor-pointer
            hover:bg-color-gris hover:border-color-rosa lg:hover:scale-105 ease-in duration-300">
                <header class="bg-color-rosa inline-block rounded-2xl py-5 px-6 mb-4">
                    <i class="fa-solid fa-scale-balanced text-4xl"></i>
                </header>

                <body>
                    <h3 class="text-2xl font-semibold mb-6">Legales</h3>
                    <p class="leading-relaxed text-lg">Lo acompañamos en sus tramites, prestamos asesoria y representacion legal.</p>
                </body>
            </div>
            <!-- Card 2 -->
            <div class="bg-color-primario-light border-2 border-solid border-color-gris text-center py-10 px-5 md:py-20 rounded-2xl lg:cursor-pointer
            hover:bg-color-gris hover:border-color-lima lg:hover:scale-105 ease-in duration-300">
                <header class="bg-color-lima inline-block rounded-2xl py-5 px-6 mb-4">
                    <i class="fa-solid fa-calculator text-4xl"></i>
                </header>

                <body>
                    <h3 class="text-2xl font-semibold mb-6">Contable</h3>
                    <p class="leading-relaxed text-lg">Mantenga un control de sus finanzas, gestione su crecimiento y cumpla con los requisitos.</p>
                </body>
            </div>
            <!-- Card 3 -->
            <div class="bg-color-primario-light border-2 border-solid border-color-gris text-center py-10 px-5 md:py-20 rounded-2xl lg:cursor-pointer
            hover:bg-color-gris hover:border-color-indigo lg:hover:scale-105 ease-in duration-300">
                <header class="bg-color-indigo inline-block rounded-2xl py-5 px-6 mb-4">
                    <i class="fa-solid fa-computer text-4xl"></i>
                </header>

                <body>
                    <h3 class="text-2xl font-semibold mb-6">Sistemas</h3>
                    <p class="leading-relaxed text-lg">Le ayudamos a estar presente en la web, mejore su hardware y sus sistemas, haga de la tecnologia su mejor aliado.</p>
                </body>
            </div>
        </div>
    </div>
</section>