<section class="relative bg-service">
    <div class="container py-10">
        <div class="text-center mb-14">
            <h2 class="titulo">Nuestros servicios</h2>
        </div>

        <!-- CARDS -->
        <div class="grid grid-cols-2 md:grid-cols-3 gap-3 lg:gap-8 px-10 md:px-0 font-semibold">

            <!-- Card 1 LEGALES-->
            <div class="backdrop-blur-md border-2 border-solid text-center py-5 px-5 md:py-10 rounded-2xl lg:cursor-pointer hover:scale-105 ease-in duration-300">

                <header class="inline-block mb-2 md:mb-5">
                    <i class="fa-solid fa-scale-balanced text-3xl md:text-5xl"></i>
                </header>

                <body>
                    <h3 class="text-xl md:text-4xl font-semibold mb-4 md:mb-10">Legales</h3>
                    <p class="hidden md:inline leading-relaxed text-lg">Lo acompañamos en sus tramites, prestamos asesoria y
                        representacion legal.</p>
                </body>

            </div>

            <!-- Card 2  CONTABLE-->
            <div class="backdrop-blur-md border-2 border-solid text-center py-5 px-5 md:py-10 rounded-2xl lg:cursor-pointer hover:scale-105 ease-in duration-300">

                <header class="inline-block mb-2 md:mb-5">
                    <i class="fa-solid fa-calculator text-3xl md:text-5xl"></i>
                </header>

                <body>
                    <h3 class="text-xl md:text-4xl font-semibold mb-4 md:mb-10">Contable</h3>
                    <p class="hidden md:inline leading-relaxed text-lg">Mantenga un control de sus finanzas, gestione su crecimiento y
                        cumpla con los requisitos.</p>
                </body>

            </div>

            <!-- Card 3 SISTEMAS -->
            <div class="backdrop-blur-md border-2 border-solid text-center py-5 px-5 md:py-10 rounded-2xl lg:cursor-pointer hover:scale-105 ease-in duration-300">

                <header class="inline-block mb-2 md:mb-5">
                    <i class="fa-solid fa-computer text-3xl md:text-5xl"></i>
                </header>

                <body>
                    <h3 class="text-xl md:text-4xl font-semibold mb-4 md:mb-10">Sistemas</h3>
                    <p class="hidden md:inline leading-relaxed text-lg">Le ayudamos a estar presente en la web, mejore su hardware y
                        redes, haga de la tecnologia su mejor aliado.</p>
                </body>

            </div>

            <!-- Card 4 GESTION -->
            <div class="backdrop-blur-md border-2 border-solid text-center py-5 px-5 md:py-10 rounded-2xl lg:cursor-pointer hover:scale-105 ease-in duration-300">

                <header class="inline-block mb-2 md:mb-5">
                    <i class="fa-solid fa-list-check text-3xl md:text-5xl"></i>
                </header>

                <body>
                    <h3 class="text-xl md:text-4xl font-semibold mb-4 md:mb-10">Gestion</h3>
                    <p class="hidden md:inline leading-relaxed text-lg">Planifique y logre objetivos empresariales con nosotros,
                        gestionamos sus proyectos mas importantes.</p>
                </body>

            </div>

            <!-- Card 5 cAPACITACION-->
            <div class="backdrop-blur-md border-2 border-solid text-center py-5 px-5 md:py-10 rounded-2xl lg:cursor-pointer hover:scale-105 ease-in duration-300">

                <header class="inline-block mb-2 md:mb-5">
                    <i class="fa-solid fa-people-roof text-3xl md:text-5xl"></i>
                </header>

                <body>
                    <h3 class="text-xl md:text-4xl font-semibold mb-4 md:mb-10">Capacitacion</h3>
                    <p class="hidden md:inline leading-relaxed text-lg">Llevamos su equipo de trabajo a la excelencia, optimice procesos
                        y capacite su recurso humano.</p>
                </body>

            </div>

            <!-- Card 6 LOGISTICA?-->
            <div class="backdrop-blur-md border-2 border-solid text-center py-5 px-5 md:py-10 rounded-2xl lg:cursor-pointer hover:scale-105 ease-in duration-300">

                <header class="inline-block mb-2 md:mb-5">
                    <i class="fa-solid fa-truck-fast text-3xl md:text-5xl"></i>
                </header>

                <body>
                    <h3 class="text-xl md:text-4xl font-semibold mb-4 md:mb-10">Logistica</h3>
                    <p class="hidden md:inline leading-relaxed text-lg">Nos encargamos de la distribucion de recursos fisicos y humanos
                        que su empresa requiere.</p>
                </body>

            </div>

        </div>
    </div>
</section>